<!DOCTYPE html>
<!--[if IE 8]><html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if gt IE 8]><!--><html class="no-js" lang="en"><!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">

  <title>Hello, World!</title>

  <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/foundation/4.1.6/css/normalize.min.css">
  <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/foundation/4.1.6/css/foundation.min.css">
</head>
<body>
  <div class="row">
    <div class="twelve columns">
      <h1>Hello, World</h1>
      <p>This is the default page for Bricks. If you have recently installed the software, you now know it is operational!</p>
      <p>Is PHP rendering the variables on this page? <strong style="color: green;"><?= $operational ?></strong></p>
      <p>Is there a base path for the page? <strong style="color: green;"><?= $app->getRouter()->getBaseUrl() ?></strong></p>
      <p>Path used to access this page? <strong style="color: green;"><?= $app->getRouter()->getPath() ?></strong></p>
      <P>Does the URL helper work? <strong style="color: green;"><?= url($app->getRouter()->getPath()) ?></strong></p>
    </div>
  </div>
</body>
</html>